* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Big Shoulders Display", sans-serif;
  color: white;
}
p {
  font-family: Outfit;
}
.container {
  display: flex;
  align-items: center;
}

.text-cont h1 {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  text-transform: uppercase;
  margin-left: 100px;
  margin-top: 313px;
  position: relative;
  left: 174px;
}
.header-cont-1{
  width: 25%;
}
.para1 {
  width: 350px;
  color: var(--Dark-Grey, #444);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  position: relative;
  left: -35px;
}
.button {
  background: var(--Gold, #d5966c);
  color: var(--White, #fff);
  font-family: Big Shoulders Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.636px;
  padding: 20px 40px;
  position: relative;
  left: -40px;
  transition: 0.6s;
}
.button:hover {
  background-color: #f7c5a4;
}
.arrow img {
  text-align: center;
  position: relative;
  top: 9px;
  right: -9px;
}
.arrow {
  width: 40px;
  height: 72px;
  background-color: #151515;
  border: 2px solid black;
  position: relative;
  left: -40px;
}
.button-location {
  display: flex;
  text-decoration: none;
}

.text-cont {
  background: var(--Almost-Black, #151515);
  width: 429px;
  height: 799px;
  flex-shrink: 0;
}

.container-1 {
  display: grid;
  grid-template-columns: 350px 635px;
  justify-content: center;
  margin-top: 200px;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  margin-left: 165px;
  margin-right: 79px;
  margin-bottom: 20px;
}
.pics {
  display: grid;
  grid-template-columns: 635px 445px;
  justify-content: center;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  margin-left: 165px;
  margin-right: 185px;
}
.container-content-1 {
  width: 350px;
}
.container-content-1 h1 {
  color: var(--Almost-Black, #151515);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
}
.container-content-1 p {
  color: var(--Dark-Grey, #444);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.text-2 {
  background-color: #151515;
  height: 377px;
  margin-top: 24px;
  padding: 44px;
}
.text-2 h1 {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
}
.text-2 p {
  color: var(--Dark-Grey, #444);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: white;
}

.container-1 h1 {
  color: black;
}
.picture-container {
  display: grid;
  grid-template-rows: 445px 445px;
}
.footer-cont {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  gap: 400px;
}
footer {
  background-color: #151515;
}
.footer-text {
  width: 450px;
}
.logo {
  width: 60px;
  height: 60px;
}
.footer-text {
  color: white;
}
.icons img {
  padding: 2px;
  transition: 0.5s;
}
.icons img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 860px) {
  .text-cont {
    background-color: transparent;
  }
  .hero {
    position: relative;
    right: -20px;
    top: -1035px;
    right: 71px;
    height: 107vh;
  }
  .container {
    display: block;
    align-items: center;
  }
  .main-header {
    position: relative;
    top: -1300px;
    right: -60px;
  }
  .main-header p {
    width: 200px;
  }
  .header-cont-1 {
    color: var(--Almost-Black, #151515);
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    margin-top: 274px;
    margin-left: -38px;
  }
  .text-cont h1 {
    margin-left: 100px;
    margin-top: 100px;
  }

  section .section-1 {
    position: relative;
    top: 500px;
  }
  .container-1 {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    margin-top: -1000px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    margin-left: 165px;
    margin-right: 79px;
    margin-bottom: 20px;
  }
  .container-content-1 {
    width: 211px;
  }
  .container-1 img {
    width: 211px;
  }
  .pics {
    display: grid;
    grid-template-columns: 300px;
    height: 480px;
  }
  .picture-container {
    display: grid;
    grid-template-rows: 0 445px;
}
  .picture-container img{
    max-width: 80%;
  }
  .righit-cont img{
    width: 300px;
    overflow-x: hidden;

  }

  footer{
    margin-top: 1500px;
    overflow-x: hidden;
  }
  .footer-cont{
    display: block;
    width: 200px;
  }
  .footer-cont p{
    font-size: 10px;
    width: 200px;
  }
.text-cont h1{
 display: none;
}
.text-2{
  width: 300px;
  overflow: hidden;
}
.text-2 h1{
  width: 200px;
}
.text-2 p{
  font-size: 18px;
}

}
